body{
    text-align: center;
    padding-top: 200px;
    background: rgb(237, 132, 241);
  }
  .btn-submit {
    padding: 100px 100px;
    border-radius: 100px;
    outline: 1;
    border: 1;
    background: rgb(132, 216, 241);
    font-weight: 700;
  }
  .btn-submit:hover {
    background: #f12711;
    background: -webkit-linear-gradient(to right, #6ef8f1, #f5c866); 
    background: linear-gradient(to right, #82e9f7, #fdd275);
  }
  .anh{
    width: 300px;
    height: 150px;
    clip-path: circle(70px at 50% 50%);
  }